Content/Animations/**/* filter=lfs diff=lfs merge=lfs -text
Content/Materials/**/* filter=lfs diff=lfs merge=lfs -text
Content/Models/**/* filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Materials/M_Ground_Grass.uasset filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/T_Ground_Grass_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/T_Ground_Grass_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/T_MacroVariation.uasset filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/T_Perlin_Noise_M.uasset filter=lfs diff=lfs merge=lfs -text
Content/HeadButterExtreme.umap filter=lfs diff=lfs merge=lfs -text
Content/CameraThing.umap filter=lfs diff=lfs merge=lfs -text
Content/BossExample.umap filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/T_Explosion_SubUV.uasset filter=lfs diff=lfs merge=lfs -text
